/* KoPubWorld Dotum Light */
@font-face {
  font-family: "KoPubWorldDotum";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("./KoPubWorld-Dotum-Light.woff") format("woff");
  font-display: swap;
}

/* KoPubWorld Dotum Medium */
@font-face {
  font-family: "KoPubWorldDotum";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("./KoPubWorld-Dotum-Medium.woff") format("woff");
  font-display: swap;
}

/* KoPubWorld Dotum Bold */
@font-face {
  font-family: "KoPubWorldDotum";
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url("./KoPubWorld-Dotum-Bold.woff") format("woff");
  font-display: swap;
}

/* KoPubWorld Batang Light */
@font-face {
  font-family: "KoPubWorldBatang";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("./KoPubWorld-Batang-Light.woff") format("woff");
  font-display: swap;
}

/* KoPubWorld Batang Medium */
@font-face {
  font-family: "KoPubWorldBatang";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("./KoPubWorld-Batang-Medium.woff") format("woff");
  font-display: swap;
}

/* KoPubWorld Batang Bold */
@font-face {
  font-family: "KoPubWorldBatang";
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url("./KoPubWorld-Batang-Bold.woff") format("woff");
  font-display: swap;
}

/* Pretendard */
@font-face {
  font-family: "Pretendard Variable";
  src: url("./PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Chonburi */
@font-face {
  font-family: "Chonburi";
  src: url("./Chonburi-Regular.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
